<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf8">
    <title>Shoot</title>

    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap-theme.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap-theme.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap-slider.min.css') }}" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script views="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script views="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{{ url_for('static' , filename='js/jquery.js') }}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ url_for('static' , filename='js/bootstrap.min.js') }}"></script>
    <!--bootstrap slider -->
    <script src="{{ url_for('static' , filename='js/bootstrap-slider.min.js') }}"></script>
    <!--Fabric.js-->
    <script src="{{ url_for('static' , filename='js/fabric.js') }}"></script>


</head>
<body>
<div id="Content" class="cont">

    <div>
        <canvas id="canvas" width="500px" height="500px"></canvas>
    </div>
    <div>
        <button id="lion" type="button" class="btn btn-primary">lion</button>
        <button id="apeach" type="button" class="btn btn-primary">apeach</button>
        <button id="tube" type="button" class="btn btn-primary">tube</button>
        <button id="send" type="button" class="btn btn-primary">Send</button>
    </div>


</div>
</div>
</body>
<style>
    .cont {
        margin: 200px auto 0 auto;
        text-align: center;

        /*background-color : #ffc520;*/
    }
    .canvas-container {
    padding: 0;
    margin: auto;
    display: block;
    width: 800px;
}
</style>
<script>
    const $send = $("#send");
    const $lion = $("#lion");
    const $apeach = $("#apeach");
    const $tube = $("#tube");
    let canvas = new fabric.Canvas('canvas');
    canvas.setBackgroundImage('{{ url_for('composite.feed') }}');

    $(document).ready(() => {
        $send.click(send);
        $lion.click(lion);
        $apeach.click(apeach);
        $tube.click(tube);

    });
    const send = () => {
        console.log('send');
        const data = canvas.toDataURL('png');
        $.ajax({
            type: "POST",
            timeout: 50000,
            url: '/composite/send',
            data: {'data': data},
            success: function (data) {
                console.log(data);
                alert('success');
            }
        });
    };
    const lion = () => {
        new fabric.Image.fromURL('{{ url_for('static', filename='images/lion.png') }}', function (img) {
            canvas.add(img);
        });
    };
    const apeach = () => {
        new fabric.Image.fromURL('{{ url_for('static', filename='images/apeach.png') }}', function (img) {
            img.width = 133;
            img.height = 171;
            canvas.add(img);
        });
    };
    const tube = () => {
        new fabric.Image.fromURL('{{ url_for('static', filename='images/tube.png') }}', function (img) {
            img.width = 168;
            img.height = 164;
            canvas.add(img);
        });
    };

</script>
</html>