<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf8">
    <title>Shoot</title>

    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap-theme.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap-theme.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap-slider.min.css') }}" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script views="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script views="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{{ url_for('static' , filename='js/jquery.js') }}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ url_for('static' , filename='js/bootstrap.min.js') }}"></script>
    <!--bootstrap slider -->
    <script src="{{ url_for('static' , filename='js/bootstrap-slider.min.js') }}"></script>
    <!--CamanJs-->
    <script src="{{ url_for('static' , filename='js/caman.full.js') }}"></script>

    <script type="text/javascript">
        Caman.DEBUG = true
    </script>

</head>
<body>
<div id="Content" class="cont">

    <img
         id="image"
         src="{{ url_for('shoot.feed') }}"
    >

    <div id="Filters">

        <div class="Filter">
            <div class="FilterName">
                <p>brightness</p>
            </div>

            <div class="FilterSetting">
                <input id="brightness" data-slider-id='brightness' type="text" data-slider-min="-100"
                       data-slider-max="100" data-slider-step="1"
                       data-slider-value="0"/>


                <span class="FilterValue">0</span>
            </div>
        </div>

        <div class="Filter">
            <div class="FilterName">
                <p>contrast</p>
            </div>

            <div class="FilterSetting">
                <input id="contrast" data-slider-id='contrast' type="text" data-slider-min="-100" data-slider-max="100"
                       data-slider-step="1"
                       data-slider-value="0"/>
                <span class="FilterValue">0</span>
            </div>
        </div>

        <div class="Filter">
            <div class="FilterName">
                <p>saturation</p>
            </div>

            <div class="FilterSetting">
                <input id="saturation" data-slider-id='saturation' type="text" data-slider-min="-100"
                       data-slider-max="100" data-slider-step="1"
                       data-slider-value="0"/>
                <span class="FilterValue">0</span>
            </div>
        </div>

        <div class="Filter">
            <div class="FilterName">
                <p>hue</p>
            </div>

            <div class="FilterSetting">
                <input id="hue" data-slider-id='hue' type="text" data-slider-min="0" data-slider-max="100"
                       data-slider-step="1"
                       data-slider-value="0"/>

                <span class="FilterValue">0</span>
            </div>
        </div>

        <div class="Filter">
            <div class="FilterName">
                <p>sepia</p>
            </div>

            <div class="FilterSetting">
                <input id="sepia" data-slider-id='sepia' type="text" data-slider-min="0" data-slider-max="100"
                       data-slider-step="1"
                       data-slider-value="0"/>
                <span class="FilterValue">0</span>
            </div>
        </div>

        <button id="composite" type="button" class="btn btn-primary">Composite</button>
        <button id="send" type="button" class="btn btn-primary">Send</button>


    </div>
</div>
</body>
<style>
    .cont {
        margin: 100px auto 0 auto;
        text-align: center;

        /*background-color : #ffc520;*/
    }
</style>
<script>
    $(document).ready(() => {
        const $brightness = $("#brightness");
        const $contrast = $("#contrast");
        const $saturation = $("#saturation");
        const $hue = $("#hue");
        const $sepia = $("#sepia");
        const $send = $("#send");
        const $composite = $("#composite");

        $brightness.slider({
            formatter: (value) => {
                Caman("#image", function () {
                    this.brightness(value).render();
                });
                return 'Current value: ' + value;
            }
        });

        $contrast.slider({
            formatter: (value) => {
                Caman("#image", function () {
                    this.contrast(value).render();
                });
                return 'Current value: ' + value;
            }
        });
        $saturation.slider({
            formatter: (value) => {
                Caman("#image", function () {
                    this.saturation(value).render();
                });
                return 'Current value: ' + value;
            }
        });
        $hue.slider({
            formatter: (value) => {
                Caman("#image", function () {
                    this.hue(value).render();
                });
                return 'Current value: ' + value;
            }
        });
        $sepia.slider({
            formatter: (value) => {
                Caman("#image", function () {
                    this.sepia(value).render();
                });
                return 'Current value: ' + value;
            }
        });

        $send.click(ajaxImageSend);
        $composite.click(toNextView);
    });

    const ajaxImageSend = () => {
        console.log("imagesend");
        Caman("#image", function () {
            this.render(() => {
                const image = this.toBase64();
                //console.log(image); //-- 보니깐 브라우저 상에서 base64가 생긴다
                //console.log(JSON.stringify(image))
                $.ajax({
                    type: "POST",
                    timeout: 50000,
                    url: '/shoot/send',
                    data: {'data': image},
                    success: function (data) {
                        console.log(data);
                        alert('success');
                    }
                });
            });
        });
    };

    const toNextView = () =>{
          console.log("imagesend");
        Caman("#image", function () {
            this.render(() => {
                const image = this.toBase64();
                //console.log(image); //-- 보니깐 브라우저 상에서 base64가 생긴다
                //console.log(JSON.stringify(image))
                $.ajax({
                    type: "POST",
                    timeout: 50000,
                    url: '/shoot/upload',
                    data: {'data': image},
                    success: function (data) {
                        console.log(data);
                        window.location.href = '/composite';
                    }
                });
            });
        });

    }

</script>
</html>